@import "../../scss/variables";

.menu-top {
    a {
        text-decoration: none !important;
        color: black;
    }

    display: flex;
    &__center{
        display: flex;
        .ant-dropdown-trigger {
            padding-right: 20px;
            padding-left: 20px;
         
        }
    }

    &__left {
        &-logo {
            width: 85px;
            padding: 0 10px;
        }
    }

    &__right {
        position: absolute;
        right: 0;
        padding-right: 10px;
        &_button {
            color: $font-light;
            background-color: $background-dark;
            &:hover {
                color: $font-light !important;
                background-color: $primary-color;
            }
            &:focus,
            &:active{
                color: $font-light !important;
                background-color:  $primary-color !important;
            }
        } 
    }
    &__modal-switch {
        position: absolute;
        right: 12px;
    }
}
